name: PR

on:
  pull_request:
    branches: [ "main" ]

jobs:
  JaCoCo:
    runs-on: ubuntu-latest
    steps:
      - name: Get app name from repo
        run: echo "APP_NAME=$(echo "$GITHUB_REPOSITORY" | awk -F / '{print $2}' | sed 's/-service$//g')" >> $GITHUB_ENV

      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run test
        run: ./gradlew test

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"